---
layout: default
title: Ativações pendentes - Contém1g
csscustom:
- assets/plugins/datatables/dataTables.bootstrap4.min.css
- assets/plugins/datatables/buttons.bootstrap4.min.css
- assets/plugins/datatables/responsive.bootstrap4.min.css
jscustom:
- assets/plugins/datatables/jquery.dataTables.min.js
- assets/plugins/datatables/dataTables.bootstrap4.min.js
- assets/plugins/datatables/dataTables.buttons.min.js
- assets/plugins/datatables/buttons.bootstrap4.min.js
- assets/plugins/datatables/jszip.min.js
- assets/plugins/datatables/pdfmake.min.js
- assets/plugins/datatables/vfs_fonts.js
- assets/plugins/datatables/buttons.html5.min.js
- assets/plugins/datatables/buttons.print.min.js
- assets/plugins/datatables/buttons.colVis.min.js
- assets/plugins/datatables/dataTables.responsive.min.js
- assets/plugins/datatables/responsive.bootstrap4.min.js
- assets/js/jstablecustom.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Consultores</a></li>
    <li class="breadcrumb-item">Ativações Pendentes</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Dados dos Cadastros Pendentes</h4>
  </div>
</div>



<div class="card-box">
  
  <div class="row">
    <div class="col">
      <a href="#" class="btn btn-primary">Liberar pagamento</a>
    </div>
  </div>

  <div class="content-table-box">
    <form action="#">

      <div class="row">
        <div class="col">

          <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Minisite</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Data Cadastro</th>
                <th>Celular</th>
                <th>Posição</th>
                <th>Perfil atual</th>
                <th>Cessar Cadastro</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="#">Teste123</a>
                </td>
                <td>Joao da Silva</td>
                <td>joao@gmail.com</td>
                <td>01/01/2017</td>
                <td>(00) 0 0000-0000</td>
                <td>
                  <select name="" id="">
                    <option value="">Esquerda</option>
                    <option value="">Direita</option>
                  </select>
                </td>
                <td>
                  <select name="" id="">
                    <option value="">Consultor</option>
                    <option value="">Administrador</option>
                  </select>
                </td>
                <td>
                  <a href="#" class="btn btn-danger waves-effect waves-light btn-sm"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <!-- end col table -->
      </div>
      <div class="footer-buttons">
        <button type="submit" class="btn btn-success">Salvar alterações</button>
      </div>
      <!-- end row table -->
    </form>
  </div>

</div> <!-- end card-box -->