---
layout: default
title: Lista de pedidos - Contém1g
csscustom:
- assets/plugins/datatables/dataTables.bootstrap4.min.css
- assets/plugins/datatables/buttons.bootstrap4.min.css
- assets/plugins/datatables/responsive.bootstrap4.min.css
jscustom:
- assets/plugins/datatables/jquery.dataTables.min.js
- assets/plugins/datatables/dataTables.bootstrap4.min.js
- assets/plugins/datatables/dataTables.buttons.min.js
- assets/plugins/datatables/buttons.bootstrap4.min.js
- assets/plugins/datatables/jszip.min.js
- assets/plugins/datatables/pdfmake.min.js
- assets/plugins/datatables/vfs_fonts.js
- assets/plugins/datatables/buttons.html5.min.js
- assets/plugins/datatables/buttons.print.min.js
- assets/plugins/datatables/buttons.colVis.min.js
- assets/plugins/datatables/dataTables.responsive.min.js
- assets/plugins/datatables/responsive.bootstrap4.min.js
- assets/js/jstablecustom.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Vendas</a></li>
    <li class="breadcrumb-item">Pedidos Realizados</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Total de pedidos: 30</h4>
  </div>
</div>


<div class="card-box">
  
  <div class="content-table-box">
    <div class="row">
      <div class="col">
        
        <table id="datatable-buttons" class="table table-striped table-bordered table-new-consultant-list table-tr-extra-field" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Consultor</th>
              <th>Nº do pedido</th>
              <th>Produto</th>
              <th>Status Pedido</th>
              <th>Data</th>
              <th>Total</th>
              <th>Pontos adquiridos</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="#">000000 - Joao Silva</a>
              </td>
              <td>
                <a href="#">213506</a>
              </td>
              <td class="name-image-new-consultant-list">
                <img src="{{site.baseurl}}/assets/images/image-lista-pedidos.png" alt="">
                <span>Cream Powder FPS 30</span>
              </td>
              <td>
                <i class="fa fa-check-circle text-success"></i> 
                Entregue
              </td>
              <td>10/10/2017</td>
              <td>R$ 500,00</td>
              <td>100</td>
              <td class="text-right">
                <a href="#" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                <a href="#" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-print" aria-hidden="true"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div> <!-- end col table -->
    </div>  <!-- end row table -->
  </div>

</div> <!-- end card-box -->