---
layout: default
title: Cadastrar produto - Contém1g
csscustom:
- assets/plugins/x-editable/css/bootstrap-editable.css
jscustom:
- assets/plugins/moment/moment.js
- assets/plugins/x-editable/js/bootstrap-editable.min.js
- assets/pages/jquery.xeditable.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Produto</a></li>
    <li class="breadcrumb-item">Cadastrar produto</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Informações principais</h4>
  </div>
</div>

<form action="#">
<div class="card-box">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-12">
          <div class="image-cadastrar-produto-grande">
            <img src="http://via.placeholder.com/350x350" alt="example image">
          </div>
        </div>
        <div class="col-4">
          <div class="image-cadastrar-produto-pequeno">
            <img src="http://via.placeholder.com/350x350" alt="example image">
          </div>
        </div>
        <div class="col-4">
          <div class="image-cadastrar-produto-pequeno">
            <img src="http://via.placeholder.com/350x350" alt="example image">
          </div>
        </div>
        <div class="col-4">
          <div class="image-cadastrar-produto-pequeno">
            <img src="http://via.placeholder.com/350x350" alt="example image">
          </div>
        </div>
      </div>

      <div class="alert alert-secondary alert-add-images-cadastrar-produto">
        Máx. 10 imagens. Tamanho máx. 3MB. Para maior qualidade envie imagens no formato JPG.
        <input type="file" name="" id="" multiple="multiple">
      </div>
    </div>

    <div class="col-md-8">
      <div class="alert alert-secondary">
        <div class="row">
          <div class="col-6">
            <div class="form-group row align-items-center">
              <label for="example-select-input1" class="col-4 col-form-label">Produto com variação?</label>
              <div class="col-8">
                <select name="" id="example-select-input1" class="form-control">
                  <option value="">Não</option>
                  <option value="">Sim</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row align-items-center">
              <label for="example-select-input2" class="col-4 col-form-label">Produto ativado?</label>
              <div class="col-8">
                <select name="" id="example-select-input2" class="form-control">
                  <option value="">Sim</option>
                  <option value="">Não</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row align-items-center">
              <label for="example-select-input3" class="col-4 col-form-label">Produto em destaque?</label>
              <div class="col-8">
                <select name="" id="example-select-input3" class="form-control">
                  <option value="">Não</option>
                  <option value="">Sim</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="example-text-5">Nome do produto</label>
            <input type="text" class="form-control">
            <a href="#" id="inline-username" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click"
              style="">http://contem1gmagic.com.br/categoria/nome-do-produto</a>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="example-text-5">Código do produto (SKU)</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="example-text-5">
              GTIN
              <span class="badge badge-dark">
                <a href="#" class="text-light">?</a>
              </span>
            </label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="example-text-5">
              MPN
              <span class="badge badge-dark">
                <a href="#" class="text-light">?</a>
              </span>
            </label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="example-text-5">
              NCM
              <span class="badge badge-dark">
                <a href="#" class="text-light">?</a>
              </span>
            </label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="row price-product-cadastrar-produto">
        <div class="col">

          <div class="row">

            <div class="col-4">
              <div class="form-group">
                <label class="" for="inlineFormInputGroup1">Preço de custo</label>
                <div class="input-group mb-2 mb-sm-0">
                  <div class="input-group-addon">R$</div>
                  <input type="text" class="form-control" id="inlineFormInputGroup1">
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label class="" for="inlineFormInputGroup2">Preço de venda</label>
                <div class="input-group mb-2 mb-sm-0">
                  <div class="input-group-addon">R$</div>
                  <input type="text" class="form-control" id="inlineFormInputGroup2">
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label class="" for="inlineFormInputGroup3">Preço promocional</label>
                <div class="input-group mb-2 mb-sm-0">
                  <div class="input-group-addon">R$</div>
                  <input type="text" class="form-control" id="inlineFormInputGroup3">

                </div>
              </div>
            </div>

          </div>
          <!-- end row -->
          <p class="text-right">
            Preencha o preço de venda do produto
          </p>

        </div>
        <!-- end col -->
      </div>
      <!-- end price-product-cadastrar-produto -->

    </div>
    <!-- end col-md-8 -->

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Informações Gerais</h4>
  </div>
</div>

<div class="card-box">  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Marca</label>
        <select name="" id="" class="form-control">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
          <option value="">5</option>
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <label for="">Categoria</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Fazer busca...">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>

    <div class="col-md-4">
      <label for="">Categoria escolhida</label>
      <input type="text" class="form-control">
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="">URL do vídeo do produto no Youtube</label>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-youtube-play"></i></span>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="">Descrição Completa</label>
        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Otimização para buscadores (SEO)</h4>
  </div>
</div>

<div class="card-box">
  <div class="form-group row">
    <label for="example-text-input" class="col-sm-2 col-form-label">Tag Title</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" value="" id="example-text-input">
      <p class="text-right">
        <small>0 Caracteres</small>
      </p>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-text-input1" class="col-sm-2 col-form-label">Meta Tag Description</label>
    <div class="col-sm-10">
      <textarea class="form-control"></textarea>
      <p class="text-right">
        <small>0 Caracteres</small>
      </p>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-text-input2" class="col-sm-2 col-form-label">Meta Tag Keyword</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" value="" id="example-text-input2">
      <div class="row">
        <div class="col">
          <p>
            <small>Separe as palavras por virgula</small>
          </p>
        </div>
        <div class="col">
          <p class="text-right">
            <small>0 Caracteres</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">
      Pesos e dimensões - <small>Os valores devem ser preenchidos considerando o pacote que será enviado, ou seja, embalagem com produto</small>
    </h4>
  </div>
</div>

<div class="card-box">
  <div class="row dimentions-product">

    <div class="col-md-3">
      <div class="form-group">
        <label for="">Peso</label>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-addon">Kg</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Altura <i class="zmdi zmdi-border-right"></i></label>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-addon">Cm</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Largura <i class="zmdi zmdi-border-bottom"></i></label>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-addon">Cm</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Profundidade <i class="zmdi zmdi-select-all"></i></label>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-addon">Cm</span>
        </div>
      </div>
    </div>
    
  </div>  
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">
      Estoque
    </h4>
  </div>
</div>

<div class="card-box">

  <div class="form-group row">
    <label for="" class="col-sm-3 col-form-label">Gerenciar estoque deste produto?</label>
    <div class="col-sm-9">
      <select name="" id="" class="form-control">
        <option value="">Sim</option>
        <option value="">Não</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-sm-3 col-form-label">Quantidade de produtos em estoque</label>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-5">
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-1 text-center">
          <p>com</p>
        </div>
        <div class="col-sm-5">
          <select name="" id="" class="form-control">
            <option value="">disponibilidade para 1 dias úteis</option>
            <option value="">disponibilidade para 2 dias úteis</option>
            <option value="">disponibilidade para 3 dias úteis</option>
            <option value="">disponibilidade para 4 dias úteis</option>
            <option value="">disponibilidade para 5 dias úteis</option>
            <option value="">disponibilidade para 6 dias úteis</option>
            <option value="">disponibilidade para 7 dias úteis</option>
            <option value="">disponibilidade para 8 dias úteis</option>
            <option value="">disponibilidade para 9 dias úteis</option>
            <option value="">disponibilidade para 10 dias úteis</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-sm-3 col-form-label">Quando o produto acabar em estoque</label>
    <div class="col-sm-9">
      <select name="" id="" class="form-control">
        <option value="">Continuar vendendo normalmente</option>
      </select>
    </div>
  </div>

  <hr>

  <p class="text-center">
    <strong>0</strong> unidades deste produto estão reservados, restando <strong>0</strong> para venda.
  </p>

</div>

<div class="row">
  <div class="col text-right" style="margin-bottom: 30px;">
    <button type="submit" class="btn btn-success">Salvar produto</button>
  </div>
</div>

</form>