---
layout: default
title: Cadastrar operador - Contém1g
csscustom:
- assets/plugins/fileuploads/css/dropify.min.css
- assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css
- assets/plugins/multiselect/css/multi-select.css
- assets/plugins/select2/css/select2.min.css
jscustom:
- assets/plugins/fileuploads/js/dropify.min.js
- assets/js/jsformcustom.js
- assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js
- assets/plugins/multiselect/js/jquery.multi-select.js
- assets/plugins/jquery-quicksearch/jquery.quicksearch.js
- assets/plugins/select2/js/select2.full.min.js
- assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js
- assets/pages/jquery.formadvanced.init.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Gestão</a></li>
    <li class="breadcrumb-item">Cadastrar operador</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Formulário de cadastro do operador</h4>
  </div>
</div>

<div class="card-box">
  <form action="#">

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <p><strong>Upload de foto</strong></p>
          <input type="file" class="dropify" data-height="200" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Nome Completo</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">E-mail</label>
          <input type="email" class="form-control">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Setor</label>
          <select name="" id="" class="form-control">
            <option value="">Escolha o setor</option>
            <option value="">Gerente</option>
            <option value="">Atendente</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">CPF</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Data de Nascimento</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Senha</label>
          <input type="password" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Confirmar senha</label>
          <input type="password" class="form-control">
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Permissões</label>
          <select class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Escolha as opções...">
            <optgroup label="Geral">
              <option value="CsD">Consultar Documentos</option>
              <option value="CfD">Confirmar Documentos</option>
              <option value="LGC">Lista Geral de Consultores</option>
              <option value="">Dados Consultores</option>
            </optgroup>
            <optgroup label="Rede">
              <option value="RG">Resumo Geral</option>
              <option value="RM">Rede Multinível</option>
              <option value="AB">Arvore Binária</option>
              <option value="RR">Ranking de Rede</option>
            </optgroup>
          </select>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">Cadastrar Operador</button>
      </div>
    </div>

  </form>
</div>