---
layout: default
title: Cadastrar Banner - Contem1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{site.baseurl}}/">Painel</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Marketing</a>
    </li>
    <li class="breadcrumb-item active">Cadastrar Banner</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Criando Banner</h4>
  </div>
</div>

<div class="card-box">
  <form action="">
    <div class="row">
      
      <div class="col-md-6">
        <div class="alert alert-secondary row-info-create-banner" role="alert">
        
          <div class="form-group row">
            <label for="example-text-input" class="col-3 col-form-label">Banner Ativo?</label>
            <div class="col-9">
              <select name="" id="" class="form-control">
                <option value="">Sim</option>
                <option value="">Não</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input2" class="col-3 col-form-label">Nome do banner:</label>
            <div class="col-9">
              <input type="text" class="form-control" id="example-text-input2">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input3" class="col-3 col-form-label">Posição do banner:</label>
            <div class="col-9">
              <input type="text" class="form-control" id="example-text-input3" value="Banner Tarja" disabled="disabled">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input4" class="col-3 col-form-label">Link do banner:</label>
            <div class="col-9">
              <input type="text" class="form-control" id="example-text-input4">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input5" class="col-3 col-form-label">Quando clicar no link:</label>
            <div class="col-9">
              <select name="" id="" class="form-control">
                <option value="">Abrir na mesma janela</option>
                <option value="">Abrir em nova janela</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input6" class="col-3 col-form-label">Título do banner:</label>
            <div class="col-9">
              <input type="text" class="form-control" id="example-text-input6">
            </div>
          </div>

        </div>
      </div>
      
      <div class="col-md-6">
        <h4>Posição do Banner</h4>
        <p>
           Na nova estrutura o tamaho dos banners variam de acordo com a disposição escolhida no menu configurar tema e a resolução da tela, <a href="#">clique aqui</a> para saber mais detalhes sobre as dimensões.
        </p>

        <div class="alert alert-light row-banner" role="alert">
          
          <div class="row full-banner banner-content">
            <div class="col-12">
              <div class="banner-area">
                <p>Full Banner</p>
                <span>1140 x 300</span>
              </div>
            </div>
          </div>

          <div class="row mini-banner banner-content">
            <div class="col">
              <div class="banner-area">
                <p>Mini Banner</p>
                <span>360 x 200</span>
              </div>
            </div>
            <div class="col">
              <div class="banner-area">
                <p>Mini Banner</p>
                <span>360 x 200</span>
              </div>
            </div>
            <div class="col">
              <div class="banner-area">
                <p>Mini Banner</p>
                <span>360 x 200</span>
              </div>
            </div>
          </div>

          <div class="row tarja-banner tarja-banner-active banner-content">
            <div class="col-12">
              <div class="banner-area">
                <p>Banner Tarja</p>
                <span>1140 x 70</span>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-3">
              <div class="row sidebar-banner banner-content">
                <div class="col-12">
                  <div class="banner-area">
                    <p>Banner Lateral</p>
                    <span>260 x 400</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-9">
              <div class="row vitrine-banner banner-content">
                <div class="col-12">
                  <div class="banner-area">
                    <p>Banner Vitrine</p>
                    <span>850 x 200</span>
                  </div>
                </div>
              </div>
              <div class="row mini-banner banner-content">
                <div class="col">
                  <div class="banner-area">
                    <p>Mini Banner</p>
                    <span>360 x 200</span>
                  </div>
                </div>
                <div class="col">
                  <div class="banner-area">
                    <p>Mini Banner</p>
                    <span>360 x 200</span>
                  </div>
                </div>
                <div class="col">
                  <div class="banner-area">
                    <p>Mini Banner</p>
                    <span>360 x 200</span>
                  </div>
                </div>
              </div>
            </div>

          </div> <!-- end-row -->

        </div>
      </div> <!-- end col-md-6 -->
      
    </div> <!-- end row -->
    
    <hr>

    <div class="row">

      <div class="col-md-6">
        <h5>Upload da imagem</h5>
        <div class="form-group upload-file-banner">
          <input type="file" class="form-control-file">
          <p>Tamanho máximo do arquivo: 500 KB</p>
        </div>
      </div>
      <div class="col-md-6">
        <h5>Mapa da Imagem</h5>
        <div class="form-group">

          <p>
            <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Inserir Mapa da Imagem
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <textarea name="" id="" class="form-control"></textarea>
            <p>
              <small>
                Use o mapa da imagem para inserir um mapa de links para o seu banner. Adicione apenas as tags &lt;area&gt;, <strong>não adicione &lt;map&gt;</strong>. Para saber mais sobre mapas de imagens, <a href="http://www.w3schools.com/tags/tag_map.asp">clique aqui</a>.
              </small>
            </p>
          </div>

        </div>
      </div>

    </div> <!-- end-row -->
    <hr>
    <div class="footer-buttons text-right">
      <a href="#" class="btn btn-light">
        <i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
      <button type="submit" class="btn btn-primary">Criar Banner</button>
    </div>
  </form>
</div>