---
layout: default
title: Categorias de arquivo - Contém1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Gestão</a></li>
    <li class="breadcrumb-item">Categorias de arquivo</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Categorias de arquivo</h4>
  </div>
</div>

<div class="card-box">
  <div class="row">

    <div class="col-lg-3 col-md-4 col-sm-6 content-cat-archive">
      <div>
        <img src="{{site.baseurl}}/assets/images/image-cat.png" alt="">
      </div>
      <div class="info-cat-archive">
        <h5>Apresentação Oportunidade Contém 1g Beauty</h5>
        <p>Útima atualização 06/10/2017</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 content-cat-archive">
      <div>
        <img src="{{site.baseurl}}/assets/images/image-cat.png" alt="">
      </div>
      <div class="info-cat-archive">
        <h5>Apresentação Oportunidade Contém 1g Beauty</h5>
        <p>Útima atualização 06/10/2017</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 content-cat-archive">
      <div>
        <img src="{{site.baseurl}}/assets/images/image-cat.png" alt="">
      </div>
      <div class="info-cat-archive">
        <h5>Apresentação Oportunidade Contém 1g Beauty</h5>
        <p>Útima atualização 06/10/2017</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 content-cat-archive">
      <div>
        <img src="{{site.baseurl}}/assets/images/image-cat.png" alt="">
      </div>
      <div class="info-cat-archive">
        <h5>Apresentação Oportunidade Contém 1g Beauty</h5>
        <p>Útima atualização 06/10/2017</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 content-cat-archive">
      <div>
        <img src="{{site.baseurl}}/assets/images/image-cat.png" alt="">
      </div>
      <div class="info-cat-archive">
        <h5>Apresentação Oportunidade Contém 1g Beauty</h5>
        <p>Útima atualização 06/10/2017</p>
      </div>
    </div>

  </div>
  <div class="row">
    <nav aria-label="Page navigation" class="nav-cat-archive">
      <ul class="pagination pagination-cat-archive">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>