---
layout: default
title: Central de chamados - Contém1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Atendimento</a></li>
    <li class="breadcrumb-item">Central de alertas</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Atendimento</h4>
  </div>
</div>

<div class="card-box">
  <form action="#">

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="">Escolha o tipo de alerta</label>
          <select name="" id="" class="form-control">
            <option value="">Escolha o alerta</option>
            <option value="">Alerta de promoção</option>
            <option value="">Alerta de erros</option>
            <option value="">Alerta de Informação</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="">Mensagem do Alerta</label>
          <textarea name="" id="" class="form-control"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn btn-primary" type="submit">Enviar alerta</button>
      </div>
    </div>

  </form>
</div>