---
layout: default
title: Criar Grade - Contém1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Produtos</a></li>
    <li class="breadcrumb-item active">Cadastrar variações</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Criando grade</h4>
  </div>
</div>

<div class="card-box">
  <form action="{{site.baseurl}}/criar-grade-edit-success.html">

    <div class="form-group row">
      <label for="example-text-input1" class="col-sm-2 col-form-label">Nome da grade</label>
      <div class="col-sm-10">
        <input type="text" class="form-control">
        <div class="footer-buttons text-right">
          <a href="#" class="btn btn-light"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
          <button type="submit" class="btn btn-success">Criar Grade</button>
        </div>
      </div>
    </div>

  </form>
</div>