---
layout: default
title: Painel - Contem1g
csscustom:
- assets/plugins/datatables/dataTables.bootstrap4.min.css
- assets/plugins/datatables/buttons.bootstrap4.min.css
- assets/plugins/datatables/responsive.bootstrap4.min.css
jscustom:
- assets/plugins/datatables/jquery.dataTables.min.js
- assets/plugins/datatables/dataTables.bootstrap4.min.js
- assets/plugins/datatables/dataTables.buttons.min.js
- assets/plugins/datatables/buttons.bootstrap4.min.js
- assets/plugins/datatables/jszip.min.js
- assets/plugins/datatables/pdfmake.min.js
- assets/plugins/datatables/vfs_fonts.js
- assets/plugins/datatables/buttons.html5.min.js
- assets/plugins/datatables/buttons.print.min.js
- assets/plugins/datatables/buttons.colVis.min.js
- assets/plugins/datatables/dataTables.responsive.min.js
- assets/plugins/datatables/responsive.bootstrap4.min.js
- assets/js/jstablecustom.js
- assets/plugins/waypoints/lib/jquery.waypoints.min.js
- assets/plugins/counterup/jquery.counterup.min.js
---

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <div class="btn-group pull-right m-t-15">
      <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light"
              data-toggle="dropdown" aria-expanded="false">Selecionar Ciclo </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <h4 class="page-title">Painel</h4>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="icon-layers float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">DOCUMENTOS A VERIFICAR</h6>
      <h2 class="m-b-20" data-plugin="counterup">1,587</h2>
      <a href="#">Ver lista completa</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="icon-clock float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">ATIVAÇÕES PENDENTES</h6>
      <h2 class="m-b-20">
        <span data-plugin="counterup">46,782</span>
      </h2>
      <a href="#">Ver lista completa</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="icon-user-follow float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">NOVOS QUALIFICADOS</h6>
      <h2 class="m-b-20">
        <span data-plugin="counterup">900</span>
      </h2>
      <a href="#">Ver lista completa</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="icon-call-end float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">CHAMADOS EM ABERTO</h6>
      <h2 class="m-b-20" data-plugin="counterup">1,890</h2>
      <a href="#">Ver lista completa</a>
    </div>
  </div>
</div>


<div class="card-box">
  
  <div class="content-table-box">
    <div class="row">
      <div class="col">
        
        <table id="datatable-buttons" class="table table-striped table-bordered" >
          <thead>
            <tr>
              <th>Produto</th>
              <th>Descrição</th>
              <th class="text-right">Qtd</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>000025</td>
              <td>Aplicador para duo perfect p/sobrancelhas - Consultor (A)</td>
              <td class="text-right">1</td>
            </tr>
            <tr>
              <td>000050</td>
              <td>Caixa Preta Pequena</td>
              <td class="text-right">5</td>
            </tr>
            <tr>
              <td>000025</td>
              <td>Aplicador para duo perfect p/sobrancelhas - Consultor (A)</td>
              <td class="text-right">1</td>
            </tr>
            <tr>
              <td>000050</td>
              <td>Caixa Preta Pequena</td>
              <td class="text-right">5</td>
            </tr>
            <tr>
              <td>000025</td>
              <td>Aplicador para duo perfect p/sobrancelhas - Consultor (A)</td>
              <td class="text-right">1</td>
            </tr>
            <tr>
              <td>000050</td>
              <td>Caixa Preta Pequena</td>
              <td class="text-right">5</td>
            </tr>
            <tr>
              <td>000025</td>
              <td>Aplicador para duo perfect p/sobrancelhas - Consultor (A)</td>
              <td class="text-right">1</td>
            </tr>
            <tr>
              <td>000050</td>
              <td>Caixa Preta Pequena</td>
              <td class="text-right">5</td>
            </tr>
            <tr>
              <td>000025</td>
              <td>Aplicador para duo perfect p/sobrancelhas - Consultor (A)</td>
              <td class="text-right">1</td>
            </tr>
            <tr>
              <td>000050</td>
              <td>Caixa Preta Pequena</td>
              <td class="text-right">5</td>
            </tr>
            <tr>
              <td>000025</td>
              <td>Aplicador para duo perfect p/sobrancelhas - Consultor (A)</td>
              <td class="text-right">1</td>
            </tr>
            <tr>
              <td>000050</td>
              <td>Caixa Preta Pequena</td>
              <td class="text-right">5</td>
            </tr>
          </tbody>
        </table>
        
      </div> <!-- end col table -->
    </div>  <!-- end row table -->
  </div>

</div> <!-- end card-box -->