---
layout: default
title: Listar Banners - Contem1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{site.baseurl}}/">Painel</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Marketing</a>
    </li>
    <li class="breadcrumb-item active">Listar banners</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Lista de Banners</h4>
  </div>
</div>

<div class="card-box">
  <form action="#">

    <div class="card card-list-banner">
      <div class="card-header card-header-banner-list">
        <div class="row">
          <div class="col-8">  
            <h4>
              <input type="checkbox" name="" id="">
              2 Banners Tarja
            </h4>
          </div>
          <div class="col-4 text-right">
            <a href="{{site.baseurl}}/cadastrar-banner.html" class="btn btn-primary btn-sm">Criar novo banner</a>
            <a href="#" class="btn btn-light btn-sm">Organizar</a>
          </div>
        </div>
      </div>
      <div class="card-body card-body-banner-list">
        <table class="table table-list-banner">
          <tbody>
            <tr>
              <th scope="row" width="40">
                <input type="checkbox" name="" id="">
              </th>
              <td width="40" class="see-table-banner">
                <i class="fa fa-eye"></i>
              </td>
              <td class="name-banner-list">
                <a href="#">
                  <p>Nome do Banner</p>
                  <p><small>Posição: Tarja</small></p>
                </a>
              </td>
              <td width="40">
                <div class="btn btn-success btn-sm">
                  <i class="fa fa-power-off"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row" width="40">
                <input type="checkbox" name="" id="">
              </th>
              <td width="40" class="see-table-banner">
                <i class="fa fa-eye"></i>
              </td>
              <td class="name-banner-list">
                <a href="#">
                  <p>Nome do Banner</p>
                  <p><small>Posição: Tarja</small></p>
                </a>
              </td>
              <td width="40">
                <div class="btn btn-success btn-sm">
                  <i class="fa fa-power-off"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- end card -->

    <div class="card card-list-banner">
      <div class="card-header card-header-banner-list">
        <div class="row">
          <div class="col-8">
            <h4>
              <input type="checkbox" name="" id=""> 0 Banner Vitrine
            </h4>
          </div>
          <div class="col-4 text-right">
            <a href="{{site.baseurl}}/cadastrar-banner.html" class="btn btn-primary btn-sm">Criar novo banner</a>
            <a href="#" class="btn btn-light btn-sm">Organizar</a>
          </div>
        </div>
      </div>
      <div class="card-body card-body-banner-list">
        <p class="text-center">Não existe banner cadastrado</p>
      </div>
    </div> <!-- end card -->

    <div class="card card-list-banner">
      <div class="card-header card-header-banner-list">
        <div class="row">
          <div class="col-8">
            <h4>
              <input type="checkbox" name="" id=""> 0 Full Banner
            </h4>
          </div>
          <div class="col-4 text-right">
            <a href="{{site.baseurl}}/cadastrar-banner.html" class="btn btn-primary btn-sm">Criar novo banner</a>
            <a href="#" class="btn btn-light btn-sm">Organizar</a>
          </div>
        </div>
      </div>
      <div class="card-body card-body-banner-list">
        <p class="text-center">Não existe banner cadastrado</p>
      </div>
    </div> <!-- end card -->

    <div class="card card-list-banner">
      <div class="card-header card-header-banner-list">
        <div class="row">
          <div class="col-8">
            <h4>
              <input type="checkbox" name="" id=""> 0 Mini Banner
            </h4>
          </div>
          <div class="col-4 text-right">
            <a href="{{site.baseurl}}/cadastrar-banner.html" class="btn btn-primary btn-sm">Criar novo banner</a>
            <a href="#" class="btn btn-light btn-sm">Organizar</a>
          </div>
        </div>
      </div>
      <div class="card-body card-body-banner-list">
        <p class="text-center">Não existe banner cadastrado</p>
      </div>
    </div> <!-- end card -->

    <div class="card card-list-banner">
      <div class="card-header card-header-banner-list">
        <div class="row">
          <div class="col-8">
            <h4>
              <input type="checkbox" name="" id=""> 0 Banner Lateral
            </h4>
          </div>
          <div class="col-4 text-right">
            <a href="{{site.baseurl}}/cadastrar-banner.html" class="btn btn-primary btn-sm">Criar novo banner</a>
            <a href="#" class="btn btn-light btn-sm">Organizar</a>
          </div>
        </div>
      </div>
      <div class="card-body card-body-banner-list">
        <p class="text-center">Não existe banner cadastrado</p>
      </div>
    </div> <!-- end card -->

    <div class="footer-buttons text-right">
      <a href="#" class="btn btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i> Remover Banners</a>
    </div>

  </form>
</div>