---
layout: default
title: Chamados Chat - Contém1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Atendimento</a></li>
    <li class="breadcrumb-item"><a href="#">Lista de chamados</a></li>
    <li class="breadcrumb-item">Chat</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Atendimento</h4>
  </div>
</div>

<div class="card-box">
  <div class="row">

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Usuário</label>
            <input type="text" class="form-control"value="210 - MARCELO FRATONI" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">ID</label>
            <input type="text" class="form-control" value="000000" disabled>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Data de Abertura</label>
            <input type="text" class="form-control"value="00/00/0000" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Status</label>
            <input type="text" class="form-control"value="Fechado Pelo Atendente" disabled>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="">Assunto</label>
            <input type="text" class="form-control" value="pagemnto não recebido" disabled>
          </div>
        </div>
      </div>

      <hr />

      <form action="#">
        <div class="form-group form-send-chat">
          <label for="">Escrever no chat</label>
          <textarea name="" rows="5" class="form-control"></textarea>
          <button type="submit" class="btn btn-primary">Enviar mensagem</button>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <h5>Chat</h5>
      <hr />
      <blockquote class="chat">
        <p class="them item-chat">
          Annie, I'm going to be a lil late for the rehearsal, tonight.
        </p>
        <p class="me item-chat">
          S'Okay, Maude. You know your lines...?
        </p>
        <p class="them item-chat">
          I know em, I don't know what order they come in...
        </p>
        <p class="me item-chat">
          We'll work it out...
        </p>
        <p class="them item-chat">
          Annie, I'm going to be a lil late for the rehearsal, tonight.
        </p>
        <p class="me item-chat">
          S'Okay, Maude. You know your lines...?
        </p>
        <p class="them item-chat">
          I know em, I don't know what order they come in...
        </p>
        <p class="me item-chat">
          We'll work it out...
        </p>
      </blockquote>
    </div>

  </div>
</div>