---
layout: default
title: Listar categorias - Contém1g
csscustom:
- assets/plugins/jstree/style.css
jscustom:
- assets/plugins/jstree/jstree.min.js
- assets/pages/jquery.tree.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Produtos</a></li>
    <li class="breadcrumb-item active">Listar Categoria</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Categorias</h4>
  </div>
</div>

<div class="card-box">
  <div class="row">
    <div class="col-sm-12">
      <div class="link-new">
        <a href="{{site.baseurl}}/cadastrar-categoria-produto.html" class="btn btn-primary">Criar categoria</a>
        <a href="#" class="btn btn-light"><i class="fa fa-trash"></i> Excluir selecionados</a>
      </div>
    </div>

    <div class="col-sm-12">

      <form action="">
        <div id="checkTree">
          <ul>
            <li>Admin
              <ul>
                <li data-jstree='{"opened":true}'>Assets
                  <ul>
                    <li data-jstree='{"type":"file"}'>Css</li>
                    <li data-jstree='{"opened":true}'>Plugins
                      <ul>
                        <li data-jstree='{"selected":true,"type":"file"}'>Plugin one</li>
                        <li data-jstree='{"type":"file"}'>Plugin two</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li data-jstree='{"opened":true}'>Email Template
                  <ul>
                    <li data-jstree='{"type":"file"}'>Email one</li>
                    <li data-jstree='{"type":"file"}'>Email two</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li data-jstree='{"type":"file"}'>Frontend</li>
          </ul>
        </div>
      </form>

    </div>
  </div>
</div>
  