---
layout: default
title: Lista de Ocorrencias - Contém1g
csscustom:
- assets/plugins/datatables/dataTables.bootstrap4.min.css
- assets/plugins/datatables/buttons.bootstrap4.min.css
- assets/plugins/datatables/responsive.bootstrap4.min.css
jscustom:
- assets/plugins/datatables/jquery.dataTables.min.js
- assets/plugins/datatables/dataTables.bootstrap4.min.js
- assets/plugins/datatables/dataTables.buttons.min.js
- assets/plugins/datatables/buttons.bootstrap4.min.js
- assets/plugins/datatables/jszip.min.js
- assets/plugins/datatables/pdfmake.min.js
- assets/plugins/datatables/vfs_fonts.js
- assets/plugins/datatables/buttons.html5.min.js
- assets/plugins/datatables/buttons.print.min.js
- assets/plugins/datatables/buttons.colVis.min.js
- assets/plugins/datatables/dataTables.responsive.min.js
- assets/plugins/datatables/responsive.bootstrap4.min.js
- assets/js/jstablecustom.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Gestão</a></li>
    <li class="breadcrumb-item">Lista de ocorrências</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Existem 3 ocorrências</h4>
  </div>
</div>

<div class="card-box">
  <div class="row">
    <div class="col">
  
      <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>ID da ocorrência</th>
            <th>Descrição</th>
            <th>Realizada por</th>
            <th>Data e Hora</th>
            <th>IP</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>00000</td>
            <td>Cadastro do usuário</td>
            <td class="img-table-person">
              <img src="https://randomuser.me/api/portraits/men/61.jpg" alt="">
              <span> Felipe santos </span>
            </td>
            <td>01/01/2017 13:40</td>
            <td>127.0.0.1</td>
          </tr>
        </tbody>
      </table>
  
    </div>
    <!-- end col table -->
  </div>
  <!-- end row table -->
</div>