---
layout: default
title: Lista de pedidos - Contém1g
csscustom:
- assets/plugins/datatables/dataTables.bootstrap4.min.css
- assets/plugins/datatables/buttons.bootstrap4.min.css
- assets/plugins/datatables/responsive.bootstrap4.min.css
jscustom:
- assets/plugins/datatables/jquery.dataTables.min.js
- assets/plugins/datatables/dataTables.bootstrap4.min.js
- assets/plugins/datatables/dataTables.buttons.min.js
- assets/plugins/datatables/buttons.bootstrap4.min.js
- assets/plugins/datatables/jszip.min.js
- assets/plugins/datatables/pdfmake.min.js
- assets/plugins/datatables/vfs_fonts.js
- assets/plugins/datatables/buttons.html5.min.js
- assets/plugins/datatables/buttons.print.min.js
- assets/plugins/datatables/buttons.colVis.min.js
- assets/plugins/datatables/dataTables.responsive.min.js
- assets/plugins/datatables/responsive.bootstrap4.min.js
- assets/js/jstablecustom.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Vendas</a></li>
    <li class="breadcrumb-item">Meus Pedidos</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Pedidos</h4>
  </div>
</div>


<div class="card-box">
  
  <div class="content-table-box">
    <div class="row">
      <div class="col">
        
        <table id="datatable-buttons" class="table table-striped table-bordered table-new-consultant-list table-tr-extra-field" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Consultor</th>
              <th>Nº do pedido</th>
              <th>Data</th>
              <th>Valor</th>
              <th>Status</th>
              <th>Rastrear</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="#">000000 - Joao Silva</a>
              </td>
              <td><a href="#">213506</a></td>
              <td>10/10/2017</td>
              <td>R$ 1.000,00</td>
              <td>Com a transportadora</td>
              <td class="img-table">
                <a href="#">
                  <img src="http://www.pngpix.com/wp-content/uploads/2016/07/PNGPIX-COM-FedEx-Logo-PNG-Transparent.png" alt="">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div> <!-- end col table -->
    </div>  <!-- end row table -->
  </div>

</div> <!-- end card-box -->