---
layout: default
title: Ativações pendentes - Contém1g
csscustom:
- assets/plugins/datatables/dataTables.bootstrap4.min.css
- assets/plugins/datatables/buttons.bootstrap4.min.css
- assets/plugins/datatables/responsive.bootstrap4.min.css
jscustom:
- assets/plugins/datatables/jquery.dataTables.min.js
- assets/plugins/datatables/dataTables.bootstrap4.min.js
- assets/plugins/datatables/dataTables.buttons.min.js
- assets/plugins/datatables/buttons.bootstrap4.min.js
- assets/plugins/datatables/jszip.min.js
- assets/plugins/datatables/pdfmake.min.js
- assets/plugins/datatables/vfs_fonts.js
- assets/plugins/datatables/buttons.html5.min.js
- assets/plugins/datatables/buttons.print.min.js
- assets/plugins/datatables/buttons.colVis.min.js
- assets/plugins/datatables/dataTables.responsive.min.js
- assets/plugins/datatables/responsive.bootstrap4.min.js
- assets/js/jstablecustom.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Consultores</a></li>
    <li class="breadcrumb-item">Novos Consultores</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Lista de consultores dentro do ciclo</h4>
  </div>
</div>


<div class="card-box">
  
  <div class="link-new">
    <a href="#" class="btn btn-primary">Adicionar Consultor</a>
  </div>

  <form action="#">
    <div class="row">
  
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Buscar por ID ou CPF</label>
          <input type="text" class="form-control" id="">
        </div>
      </div>
  
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Filtrar</button>
  </form>

  <div class="content-table-box">
    <div class="row">
      <div class="col">
        
        <table id="datatable-buttons" class="table table-striped table-bordered table-new-consultant-list" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>Consultor</th>
              <th>Minisite</th>
              <th>E-mail</th>
              <th>Cidade</th>
              <th>Data de entrada</th>
              <th>Status</th>
              <th>Alterar Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#">000000</a></td>
              <td class="name-image-new-consultant-list">
                <img src="https://randomuser.me/api/portraits/men/93.jpg" alt="">
                <span>Erik Hicks</span>
              </td>
              <td><a href="#">www.contem1g.com/minisite</a></td>
              <td>erik@gmail.com</td>
              <td>Sao Paulo / SP </td>
              <td>01/01/2017</td>
              <td>Ativo</td>
              <td class="text-right">
                <a href="{{site.baseurl}}/dados-consultores.html" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-eye" aria-hidden="true"></i> Ver</a>
                <a href="#" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-key" aria-hidden="true"></i> Acessar Como</a>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div> <!-- end col table -->
    </div>  <!-- end row table -->
  </div>

</div> <!-- end card-box -->