---
layout: default
title: Detalhes Pagamentos - Contém1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Financeiro</a></li>
    <li class="breadcrumb-item"><a href="#">Pagamentos</a></li>
    <li class="breadcrumb-item active">Detalhes Pagamento</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Detalhes Pagamentos</h4>
  </div>
</div>

<div class="card-box">
  <form action="#">

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="">ID</label>
          <input type="text" class="form-control" value="TR-AMC-C3KW" disabled>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <div class="form-group">
          <label for="">Solicitante</label>
          <input type="text" class="form-control" value="Celso Eduardo Bordi" disabled>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <div class="form-group">
          <label for="">Beneficiário</label>
          <input type="text" class="form-control" value="Carlos Araujo da Silva" disabled>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="">CPF/CNPJ</label>
          <input type="text" class="form-control" value="00000000000" disabled>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="">Banco</label>
          <input type="text" class="form-control" value="BANCO BRADESCO S.A" disabled>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Tipo de Conta</label>
          <input type="text" class="form-control" value="Conta Corrente" disabled>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Agência</label>
          <input type="text" class="form-control" value="0000" disabled>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Conta</label>
          <input type="text" class="form-control" value="000000-0" disabled>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Variação/Operação</label>
          <input type="text" class="form-control" value="" disabled>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Valor</label>
          <input type="text" class="form-control" value="900,00" disabled>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Taxa</label>
          <input type="text" class="form-control" value="9,50" disabled>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Valor Total</label>
          <input type="text" class="form-control" value="823,02" disabled>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Data</label>
          <input type="text" class="form-control" value="00/00/0000" disabled>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Código do banco</label>
          <input type="text" class="form-control" value="220" disabled>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Status</label>
          <input type="text" class="form-control" value="Pago" disabled>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="">Observação</label>
          <textarea name="" id="" class="form-control" disabled></textarea>
        </div>
      </div>
    </div>

  </form>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Upload do Comprovante</h4>
  </div>
</div>

<div class="card-box">
  <form action="">

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="">Selecione arquivo para upload</label>
          <input type="file" class="form-control-file" id="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Status</label>
          <select name="" id="" class="form-control">
            <option value="">Solicitado</option>
            <option value="" selected="selected">Pago</option>
            <option value="">Agência e/ou Conta incorreto(s)</option>
            <option value="">Nome/CPF/CNPJ incorreto</option>
            <option value="">Cancelado</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Codigo do banco</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="">Observação</label>
          <textarea name="" id="" class="form-control"></textarea>
        </div>
      </div>

      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary">Atualizar</button>
      </div>
    </div>

  </form>
</div>
