---
layout: default
title: Pagamentos - Contém1g
csscustom:
- assets/plugins/timepicker/bootstrap-timepicker.min.css
- assets/plugins/mjolnic-bootstrap-colorpicker/css/bootstrap-colorpicker.min.css
- assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css
- assets/plugins/clockpicker/bootstrap-clockpicker.min.css
- assets/plugins/bootstrap-daterangepicker/daterangepicker.css
- assets/plugins/datatables/dataTables.bootstrap4.min.css
- assets/plugins/datatables/buttons.bootstrap4.min.css
- assets/plugins/datatables/responsive.bootstrap4.min.css
jscustom:
- assets/plugins/moment/moment.js
- assets/plugins/timepicker/bootstrap-timepicker.min.js
- assets/plugins/mjolnic-bootstrap-colorpicker/js/bootstrap-colorpicker.min.js
- assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js
- assets/plugins/clockpicker/bootstrap-clockpicker.js
- assets/plugins/bootstrap-daterangepicker/daterangepicker.js
- assets/pages/jquery.form-pickers.init.js
- assets/plugins/datatables/jquery.dataTables.min.js
- assets/plugins/datatables/dataTables.bootstrap4.min.js
- assets/plugins/datatables/dataTables.buttons.min.js
- assets/plugins/datatables/buttons.bootstrap4.min.js
- assets/plugins/datatables/jszip.min.js
- assets/plugins/datatables/pdfmake.min.js
- assets/plugins/datatables/vfs_fonts.js
- assets/plugins/datatables/buttons.html5.min.js
- assets/plugins/datatables/buttons.print.min.js
- assets/plugins/datatables/buttons.colVis.min.js
- assets/plugins/datatables/dataTables.responsive.min.js
- assets/plugins/datatables/responsive.bootstrap4.min.js
- assets/js/jstablecustom.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Financeiro</a></li>
    <li class="breadcrumb-item active">Pagamentos</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Pagamentos</h4>
  </div>
</div>

<div class="card-box">

  <div class="col">
    <div class="link-new">
      <a href="#" class="btn btn-primary">Exportar transferencia</a>
      <a href="{{site.baseurl}}/importar-transferencia.html" class="btn btn-primary">Importar transferencia</a>
    </div>
  </div>

  <form action="">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="">Escolha as datas</label>
          <div>
            <div class="input-daterange input-group" id="date-range">
              <input type="text" class="form-control" name="start" />
              <span class="input-group-addon bg-custom b-0">até</span>
              <input type="text" class="form-control" name="end" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Tipo</label>
          <select name="" id="" class="form-control">
            <option value="">Solicitado</option>
            <option value="">Pago</option>
            <option value="">Agência e/ou Conta Incorreto(s)</option>
            <option value="">Nome/CPF/CNPJ incorreto</option>
            <option value="">Cancelado</option>
          </select>
        </div>
      </div>
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Filtrar</button>
      </div>
    </div>
  </form>

  <hr />

  <div class="row" style="margin-top: 40px">
    <div class="col-12">

      <table id="datatable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Favorecido</th>
            <th>Valor Bruto</th>
            <th>Valor Liquido</th>
            <th>Ciclo (mes)</th>
            <th>Banco</th>
            <th>Status</th>
            <th>Visualizar</th>
            <th>Nota Fiscal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">000000 - Joao Silva</a></td>
            <td>R$ 900,00</td>
            <td>R$ 600,00</td>
            <td>00/00/0000</td>
            <td>Caixa</td>
            <td>
              <select name="" id="">
                <option value="">Aprovado</option>
                <option value="">Cancelado</option>
                <option value="">Em apuração</option>
                <option value="">Pendente</option>
                <option value="">Aguardando nota fiscal</option>
              </select>
            </td>
            <td><a href="{{site.baseurl}}/pagamento-detalhe.html" class="btn btn-light"><i class="fa fa-file-image-o"></i></a></td>
            <td><a href="http://www.fazenda.mg.gov.br/empresas/legislacao_tributaria/files/nota_fiscal_mod_1.pdf" target="_blank" class="btn btn-light"><i class="fa fa-eye"></i></a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>