---
layout: default
title: Rede Multinível - Contém1g
csscustom:
- assets/plugins/datatables/dataTables.bootstrap4.min.css
- assets/plugins/datatables/buttons.bootstrap4.min.css
- assets/plugins/datatables/responsive.bootstrap4.min.css
jscustom:
- assets/plugins/datatables/jquery.dataTables.min.js
- assets/plugins/datatables/dataTables.bootstrap4.min.js
- assets/plugins/datatables/dataTables.buttons.min.js
- assets/plugins/datatables/buttons.bootstrap4.min.js
- assets/plugins/datatables/jszip.min.js
- assets/plugins/datatables/pdfmake.min.js
- assets/plugins/datatables/vfs_fonts.js
- assets/plugins/datatables/buttons.html5.min.js
- assets/plugins/datatables/buttons.print.min.js
- assets/plugins/datatables/buttons.colVis.min.js
- assets/plugins/datatables/dataTables.responsive.min.js
- assets/plugins/datatables/responsive.bootstrap4.min.js
- assets/js/jstablecustom.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Rede</a></li>
    <li class="breadcrumb-item">Rede Multinível</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Listagem de Rede</h4>
  </div>
</div>


<div class="card-box">

  <div class="row">
    <div class="col text-center">
      <p><small>Visualizado em: Sexta-feira, 20 de outubro de 2017 às 11h e 49 minutos</small></p>
    </div>
  </div>

  <form action="#">

    <div class="row filter-rede-multinivel">

      <div class="col-md-3">
        <div class="form-group">
          <label for="input-example1">ID</label>
          <input type="text" class="form-control" id="input-example1" placeholder="ID">
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="input-example2">Ciclo</label>
          <select name="" id="input-example2" class="form-control">
            <option value="">Out/2017</option>
            <option value="">Set/2017</option>
            <option value="">Ago/2017</option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="input-example3">Consultar usuários por nível:</label>
          <select name="" id="input-example3" class="form-control">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            <option value="">6</option>
            <option value="">7</option>
            <option value="">8</option>
            <option value="">9</option>
            <option value="">10</option>
            <option value="">11</option>
            <option value="">12</option>
          </select>
        </div>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">Buscar
          <i class="fa fa-search"></i>
        </button>
      </div>

    </div> <!-- end filter-rede-multinivel -->
  </form>
  
  <div class="content-table-box">
    <div class="row">
      <div class="col">

        <div class="table-responsive">
          <table id="datatable-buttons" class="table table-striped table-bordered table-rede-multinivel" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Nível</th>
                <th>ID</th>
                <th>Nome</th>
                <th></th>
                <th>Ativo</th>
                <th>VP</th>
                <th>VPP</th>
                <th>VPE</th>
                <th>VPM</th>
                <th>VT</th>
                <th>Qualificação</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <a href="#">00001234</a>
                </td>
                <td>Pedro da Silva</td>
                <td>
                  <i class="fa fa-user"></i> 599
                </td>
                <td>
                  <i class="fa fa-check-circle text-success"></i>
                </td>
                <td>0,00</td>
                <td>0,00</td>
                <td>0,00</td>
                <td>0,00</td>
                <td>0,00</td>
                <td>Sponsor</td>
                <td>Cadastrado</td>
              </tr>
              <tr>
                <td>1</td>
                <td>
                  <a href="#">00003434</a>
                </td>
                <td>Joao da Silva</td>
                <td>
                  <i class="fa fa-user"></i> 235</td>
                <td>
                  <i class="fa fa-times-circle text-danger"></i>
                </td>
                <td>0,00</td>
                <td>0,00</td>
                <td>0,00</td>
                <td>0,00</td>
                <td>0,00</td>
                <td>Sponsor</td>
                <td>Cadastrado</td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div> <!-- end col table -->
    </div>  <!-- end row table -->
  </div>

</div> <!-- end card-box -->