---
layout: default
title: Upload de arquivo - Contém1g
csscustom:
- assets/plugins/fileuploads/css/dropify.min.css
- assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css
- assets/plugins/multiselect/css/multi-select.css
- assets/plugins/select2/css/select2.min.css
jscustom:
- assets/plugins/fileuploads/js/dropify.min.js
- assets/js/jsformcustom.js
- assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js
- assets/plugins/multiselect/js/jquery.multi-select.js
- assets/plugins/jquery-quicksearch/jquery.quicksearch.js
- assets/plugins/select2/js/select2.full.min.js
- assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js
- assets/pages/jquery.formadvanced.init.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Gestão</a></li>
    <li class="breadcrumb-item">Upload de arquivo</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Upload de arquivo</h4>
  </div>
</div>

<div class="card-box">
  <form action="">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <p><strong>Upload da imagem</strong></p>
          <input type="file" class="dropify" data-height="200" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <p><strong>Upload do arquivo</strong></p>
          <input type="file" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Nome do arquivo</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Categoria do Arquivo</label>
          <select name="" id="" class="form-control">
            <option value="">1</option>
            <option value="">2</option>
          </select>
        </div>
      </div>      
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Tipo de arquivo</label>
          <select name="" id="" class="form-control">
            <option value="">jpg</option>
            <option value="">png</option>
          </select>
        </div>
      </div>      
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="">Descrição</label>
          <textarea name="" id="" class="form-control"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">Carregar arquivo</button>
      </div>
    </div>

  </form>
</div>