---
layout: default
title: Usuário Documentos - Contém1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Consultores</a></li>
    <li class="breadcrumb-item"><a href="#">Consultar Documentos</a></li>
    <li class="breadcrumb-item active">Usuário Documentos</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <!-- <div class="btn-group pull-right m-t-15">
      <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light"
              data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i
              class="fa fa-cog"></i></span></button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div> -->
    <h4 class="page-title">Documento</h4>
  </div>
</div>

<div class="card-box">
  <form action="" class="usuario-documento-form">

    <div class="row">

      <div class="col-sm-12">
        <div class="image-documento-form">
          <a href="javascript:">
            <img src="https://randomuser.me/api/portraits/men/65.jpg" alt="">
          </a>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="example-text-input">Tipo de Documento</label>
          <input class="form-control" type="text" value="CPF" id="example-text-input" disabled>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="example-text-input">Informado</label>
          <input class="form-control" type="text" value="000.000.000-00" id="example-text-input" disabled>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="example-text-input">Data</label>
          <input class="form-control" type="text" value="01/01/2017" id="example-text-input" disabled>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="form-group">
          <label for="example-text-input">Status</label>
          <input class="form-control" type="text" value="Em analise" id="example-text-input" disabled>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="form-group">
          <label for="example-text-input">Restrição</label>
          <input class="form-control" type="text" value="Sim" id="example-text-input" disabled>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label for="example-text-input">Observaçao</label>
          <textarea class="form-control" disabled></textarea>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="form-group">
          <label for="select-example-item">Status</label>
          <select id="select-example-item" class="form-control">
              <option>Em análise</option>
              <option>Confirmado</option>
              <option>Recusado</option>
          </select>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label for="example-text-input">Observaçao</label>
          <textarea class="form-control"></textarea>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label for="example-text-input">Adicionar restrição?</label> <br>
          <input type="checkbox" checked data-plugin="switchery" data-color="#039cfd"/>
        </div>
      </div>

      <button type="submit" class="btn btn-primary waves-effect waves-light">Responder</button>

    </div>

  </form>
</div>