

<script> 
  var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/popper.min.js"></script><!-- Tether for Bootstrap -->
<script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/assets/js/waves.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery.nicescroll.js"></script>
<script src="{{site.baseurl}}/assets/plugins/switchery/switchery.min.js"></script>

{% for js in page.jscustom %}
<script src="{{site.baseurl}}/{{ js }}"></script>
{% endfor %}

<!-- App js -->
<script src="{{site.baseurl}}/assets/js/jquery.core.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery.app.js"></script>



<script>

</script>