<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- App Favicon -->
  <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/favicon.ico">

  {% for css in page.csscustom %}
    <link href="{{site.baseurl}}/{{ css }}" rel="stylesheet" type="text/css" />
  {% endfor %}

  <!-- Switchery css -->
  <link href="{{site.baseurl}}/assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link href="{{site.baseurl}}/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <!-- App CSS -->
  <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet" type="text/css" />
  <!-- App Custom CSS -->
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet" type="text/css" />
  <!-- Modernizr js -->
  <script src="{{site.baseurl}}/assets/js/modernizr.min.js"></script>
  
</head>